# Ignore Python caches
__pycache__/
*.pyc

# Ignore virtual environments
venv/
env/

# Ignore your data folders (You don't want to push PDFs or Vector DBs to GitHub)
uploads/
vector_store/

# Ignore environment variables
.env